<%- include("includes/head", {title: "Error"}) %> 
</head>
<body>
    <%- include("./includes/header") %>

    <main>
        <h1>Page not found!</h1>
        <p>Unfortunately, we could not find the requested resouce! (404)</p>
        <p><a class="btn" href="/">Back to safety</a></p>
    </main>

    <%- include("includes/footer") %>
        
